@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.box_model
{	
	background-color: white;
	border: 1px solid blue;
	border-radius: 5px;
	margin: 10px;
}

.content_status
{
	height: 100px;
	width: 200px;
	background-color: white;
	padding: 15px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 3px 1px #777;

}
.content_status h4{
	color: red;
	font-weight: bold;
	font-family: Roboto;
}
